<div>
    {% autoescape off %}
    
        Hello {{ user.first_name }}, this is a link to reset your cyanase account password. If this link was sent to you by mistake, ignore or contact support 
    {% comment %} <h1> {{verificationcode}} </h1> {% endcomment %}
     {% comment %} <a href="http://127.0.0.1:3000/password/reset/?email={{ email }}&ref={{ encrypted_userid }}">
    Please click this link to reset your account password</a>  {% endcomment %}
    <a href="https://auth.cyanase.lol/password/reset/?email={{ email }}&ref={{ encrypted_userid }}">
        Please click this link to reset your account password</a> 
     {% endautoescape %} 
</div>