<div>
    {% autoescape off %}
        Hello {{ user.first_name }}, this is your verification email from CYANASE INVESTORS LTD. 
    {% comment %} <h1> {{verificationcode}} </h1> {% endcomment %}
     {% comment %} <a href="http://127.0.0.1:8000/accounts/verify/?ref={{ encrypted_userid }}&verif={{ encrypted_verification_code }}">
    Please click this link to activate your account</a>  {% endcomment %}
    <a href="https://auth.cyanase.lol/accounts/verify/?ref={{ encrypted_userid }}&verif={{ encrypted_verification_code }}">
        Please click this link to activate your account</a> 
     {% endautoescape %} 
</div> 
{% comment %} <h1> {{ verificationcode }} </h1> {% endcomment %}