{% autoescape off %}
<meta name=viewport content="width=device-width,initial-scale=1">
<style>div{font-family:Helvetica}#screen{padding-left:10%;padding-right:10%;background-color:#e6e6e6}@media screen and (max-width:500px){#screen{padding-left:0;padding-right:0}}</style>
<div class=text-center id=screen>
<div style=background-color:#fff>
<img src=https://server.cyanase.app/static/email.png width=100%></div>
<div style=padding:5%;background-color:#fafafa;line-height:17px;font-size:15px>
<p class=left><h2>Hello {{ user.first_name }}</h2> <br> This is your verification email from <b>CYANASE INVESTORS LTD.</b></p>
<p class=left>If this email was intended for you, please click the link below to verify and activate your investors account.</p>
<h5><a href=https://server.cyanase.app/accounts/verify/?ref={{ encrypted_userid }}&verif={{ encrypted_verification_code }} style=color:#fff;background-color:orange;padding:10px;padding-right:40px;text-decoration:none;padding-left:40px>
Verify your account</a></h5>
<p class=left>If this email was sent to you by mistake, please ignore the email or contact support for more information.</p>
<h5 style="border-top:3px solid #000;text-align:center">
<p>
visit our website:<br> <a style=color:#000;line-height:5px href=https://cyanase.com>cyanase</a></p>
</h5>
</div>
</div>
{% endautoescape %}
